@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 30px 20px;
}

.covered-by-your-grace-regular {
  font-family: 'Covered By Your Grace', cursive;
  font-weight: 400;
  font-style: normal;
}

.manrope-semibold {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.accordian-questions:nth-child(1) {
  margin-top: 0px;
}

/* HERO IMAGE COMPONENT */

.time-reduction {
  box-shadow: 0px 22.59px 36.14px 0px rgba(30, 30, 30, 0.1);
}

.time-redcution img {
  transform: rotate(21.27deg);
}

.staff-deployment {
  box-shadow: 0px 15.21px 35.49px 0px rgba(0, 0, 0, 0.1);
}

.expenses {
  box-shadow: 0px 23.63px 37.81px 0px rgba(30, 30, 30, 0.1);
  border: 1.18px solid;
  border-image-source: linear-gradient(
    159.14deg,
    #3d3d3d 6.08%,
    rgba(61, 61, 61, 0) 85.58%
  );
}

/* QUESTIONS COMPONENT */
